# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=ecommerce
DB_USER=admin
DB_PASSWORD=CHANGE_THIS_PASSWORD

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Backend
APP_PORT=8080
JWT_SECRET=CHANGE_THIS_SECRET

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=CHANGE_THIS_PASSWORD
